body {
  background: purple;
}
#field-wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 90vh;
  flex-wrap: wrap;
}
.field {
  /* height: 45vh; */
  min-height: 200px;
  width: 45%;
  background: red;
  border: black 1px solid;
  display: inline-block;

  &:hover {
    background: lighten(red, 10%);
  }
  &:active {
    background: darken(red, 10%);
  }
}
